* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

h3{
    color: white;
    padding: 32px; 
    display: flex;
    justify-content: space-between;
}
.muxa_btn1{
    width: 125px;
    height: 32px;
    color: white;
    background: linear-gradient(271.88deg, #3887FE 4.26%, #3BA0FF 51.37%, #5FB2FF 99.01%);
    box-shadow: 0px 2px 4px rgba(85, 35, 221, 0.4);
    border-radius: 25px;
    justify-content: space-between;
}
p{
    color: #616A8B;
    display: flex;
    top: 148px;
    padding: 10px 32px;
    justify-content: space-between;
}

.muxa_btn2{
    position: absolute;
    right: 100px;
    display: flex;
    color: white;
    width: 38px;
    height: 24px;
    background: #32395E;
    border-radius: 5px;
    opacity: 1;
    background-color: #32395e;
    border-bottom: 2px solid #1288e8;
}

.muxa_btn3{
    position: absolute;
    right: 60px;
    display: flex;
    color: white;
    width: 38px;
    height: 24px;
    background: #32395E;
    border-radius: 5px;
    opacity: 1;
    background-color: #32395e;
    border-bottom: 2px solid #1288e8;
}
.muxa_btn4{
    position: absolute;
    right: 10px;
    display: flex;
    color: white;
    width: 50px;
    height: 24px;
    background: #32395E;
    border-radius: 5px;
    opacity: 1;
    background-color: #32395e;
    border-bottom: 2px solid #1288e8;
}

.roll2{
    width: 25px;
    height: 25px;
    padding: 3px;
    padding-left: 5px;
}
.left-info{
    display: flex;
    align-items: center;
    gap: 32px;
}
.left-info p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.list{
    width: 100%;
    margin-top: 25px;
}
.item{
    width: 100%;
    height: 62px;
    background: #231c55;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 20px 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.left-list-graph{
    gap: 70px;
}
.left-list-graph,
.right-btc-status{
    display: flex;
    align-items: center;
}
.right-btc-status{
    gap: 15px;
}
.right-btc-status p{
    color: white;
}
.right-token{
    display: flex;
    gap: 10px;
}
.right-token img{
   margin-top: 3px;
}
.right-token p{
   color: white;
}
.btn-status{
    width: 85px;
    height: 30px;
    background: #32395e !important;
    color: white !important;
    border-radius: 5px;
}
.error{
    background-color: #F35050 !important;
}
.completed{
    background-color: #00E8AC !important;
}