* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: radial-gradient(46.41% 73.99% at 46.63% 48.05%, #20135C 0%, #140739 92.82%);
}

header {
    position: absolute;
    top: 0px;
    right: 32px;

    width: 76%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2D317A;
    padding: 10px 0px;

    form {
        background-color: #161245;
        box-shadow: 0px 4px 20px rgba(3, 16, 52, 0.5);
        display: flex;
        align-items: center;
        border-radius: 25px;
        padding: 7px 15px;

        input, button {
            all: unset;
            color: white;
        }

        button {
            cursor: pointer;
        }
    }

    .links {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}

main {
    width: 100%;
    height: 100%;
    display: flex;

    aside {
        width: 20%;
        background: linear-gradient(0.32deg, rgba(28, 35, 64, 0) -5.79%, #1C0F54 114.59%);
        filter: drop-shadow(0px -5px 25px rgba(0, 3, 32, 0.5));
        padding: 20px 30px;
        h1{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        nav {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            a {
                padding: 15px 16px;
                display: flex;
                align-items: center;
                gap: 16px;
                text-decoration: none;
                color: white;
                border-radius: 6px;

                span {
                    font-size: 14px;
                    font-weight: 600;
                }

                opacity: .5;

            }
            .activeA {
                opacity: 1;
                background-color: #32395E;
                border-bottom: 2px solid #1288E8;
            }
        }


    }

    .content {
        width: 76%;
        height: 88%;

        position: fixed;
        bottom: 5px;
        right: -100%;
        transition: .5s ease;
    }

    .activePage {
        right: 32px;
    }


    #Wallets {
        background-color: green;
    }
    #Transictions {
        background-color: blue;
    }
    #Exchange {
        background-color: skyblue;
    }
    #Market {
        background-color: pink;
    }
}


