.container-big {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 100%;
    padding-top: 20px;
    max-height: 100%;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}
.container-big::-webkit-scrollbar {
    display: none;
}

.container {
    // height: 320px;
    background: linear-gradient(180deg, rgba(18, 0, 118, 0.2) -100%, #0F0B38 90.11%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;
    /* border: 1px solid white; */

}

.top-side {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.top-side .left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.top-side .left-side .left-into {
    margin-bottom: 25px;
}


.top-side .left-side .right-into {
    margin-bottom: 27px;
    color: white;
}

.top-side .left-side .right-into h2:nth-child(2) {
    color: #00E8AC;
}


.right-side .top-into {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(198, 198, 198);
}

.right-side .top-into h2:nth-child(1) {
    color: white;
}


.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 66px;
}

.right-side .middle-into {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.right-side .middle-into span {
    font-size: 16px;
}
.right-side h2 {
    font-size: 18px;
}




.right-side .bottom-into {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}

.right-side .bottom-into h2:nth-child(1) span,
.right-side .bottom-into h2:nth-child(3) span {
    color: rgb(198, 198, 198);
}

#h2One {
    color: red;
}

#h2Two {
    color: red;
}

#h2Three {
    color: red;
}